
<div id="categories">
  <% if @categories.length > 0 %>
    <div class="content-wrapper">
      <% @categories.each do |category| %>
        <div class="cat-wrapper">
          <%= render category %>        
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="empty-body">
      <div id="typed-strings">
        <p> Keep transactions categorized. </p>
        <p> Add category. </p>
      </div>
      <span id="typed"></span>
    </div>
  <% end %>
  <div class="main new-cat"><div class="w-rectangle"><%= link_to "Add category", new_category_path %></div></div>
</div>
