
<div id="<%= dom_id transaction %>">    
    <span>
      <span class="icon-wrapper"><%= transaction.icon %></span>
      <span class="name-wrapper"><%= transaction.name %></span>
    </span>
    <h3 class="amount-class"><span>¥</span><%= transaction.amount %></h3>
</div>
