<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  

  <%= button_to "Destroy this transaction", @transaction, method: :delete %>
</div>
