<div class="flash-page">  
  <h1>MY BUDGET</h1>   
  <div class="wrapper">
    <div><%= link_to 'LOG IN', new_user_session_path %></div>
    <div><%= link_to 'SIGN UP', new_user_registration_path %></div>     
  </div>
</div>  