  <div class="nav">
     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= button_to "LOG OUT", destroy_user_session_path, method: :delete, data: { turbo: false } %>
    <% end %>
    </div>