<div class="notice-wrapper">
  <% if notice %>
  <span class="note" style="color: green"><%= notice %></span>
  <% end %>
  <% if alert %>
    <span class="note" style="color: red"><%= alert %></span>
  <% end %>
     
</div>
